#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
}

/* Subredicts active */
#subreddits li.active {
  background-color: #dfdfe0;
  border: #dfdfe0;
  color: black
}

@media (max-width: 768px) {
  .offcanvas {
    width: 80% !important;
  }
}
